* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 10px 30px;
  border-radius: 15px;
  background-color: peachpuff;
  display: flex;
  justify-content: center;
  width: fit-content;
}
.container ul {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}
.container li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.container a {
  text-decoration: none;
}
.cartIndicator {
  border: 1px solid black;
  width: 1em;
  padding: 7px;
  height: 1em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
